@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@layer base {
  body {
    @apply bg-white text-black;
  }
  
  body.dark {
    @apply bg-black text-white;
  }

  html {
    font-family: 'Quicksand', sans-serif;
  }

  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-5xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h5 {
    @apply text-xl font-bold;
  }

  h6 {
    @apply text-lg;
  }
}

/* убираем нижний ползунок прокрутки */
body {
  overflow-x: hidden;
}

.modal {
  display: none; /* Скрываем модальное окно по умолчанию */
}

.active {
  display: flex;
  background-color: rgba(0, 0, 0, 0.493);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -6rem; /* Initially off-screen */
  width: 4.5rem; /* Adjust width as needed */
  height: 100%;
  background-color: rgb(185, 52, 74);
  transition: right 300ms ease-in-out; /* Smooth animation */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.slide-in {
  right: 0; /* Slide in */
}

.slide-out {
  right: -6rem; /* Slide out */
}

.close-btn {
  font-size: 3rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 1rem;
}

.close-btn:hover {
  color: rgb(229, 231, 235); /* Lighter shade on hover */
}

.burger-button {
  transition: opacity 300ms ease-in-out; /* Smooth animation */
}

.button-gone-animation {
  opacity: 0; /* Make button disappear */
}

@keyframes button-gone {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
